{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
   
</style>
  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list list_user">
       
      </ul>
    </div>
    
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with Vincent Porter</div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        {# <ul class="messages">
          
         
          
        </ul> #}
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        
        <button id="btn">Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
let listUser=document.querySelector('.list_user');
let chat=document.querySelector('.chat-history');
let message=document.getElementById('message-to-send');
let btn=document.getElementById('btn');
let convId;
let urlHub;
const fetchMessages=(id)=>{
     convId=id;
     console.log(convId)
     let messages;
    
      messages=document.querySelector(`ul[data-conversation="${id}"]`);

     if(!messages){
         messages= document.createElement('ul');
         messages.setAttribute('data-conversation',id);
        
                 
     }
 
  return axios.get(`/messages/${id}`).then((response) => {
                     //  urlHub=response.headers.link.match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1]
                   
                      //addMessage(JSON.parse(event.data) );
    
           chat.innerHTML="";
    response.data.forEach((el)=>{
         let me=document.createElement('li');
       //  let other=document.createElement('li');
         me.classList.add('clearfix');
         if(el.mine){
           me.innerHTML=`
            
            <div class="message-data align-right">
              <span class="message-data-time" >${el.createdAt}
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              ${el.content}
            </div>
         
           `;
         }
         else{
            me.innerHTML=`
         
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">${el.createdAt}</span>
            </div>
            <div class="message my-message">
               ${el.content}
            </div>
          
            `;
         }

         messages.append(me);
         chat.append(messages);
      
        
       
        

    })
   

    return response.data;
  })
}
   const fetchUsers=()=>{

      listUser.innerHTML="";
            let urlUser = "/conversations";
                  
				  return  axios.get(urlUser).then((response) => {
                       urlHub=response.headers.link.match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1]
                      const hub = new URL(urlHub);
                      hub.searchParams.append('topic',`/conversations/${response.data.user}`);
                     
                      // Subscribe to updates
                      const eventSource = new EventSource(hub);
                      eventSource.onmessage = (event) => { updateConversation(JSON.parse(event.data) );
                      fetchUsers()
                      }
         //   const hubUrl = response.headers.get('Link').match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1];
          
            response.data.conversations.forEach((el)=>{

                  let li=document.createElement('li');
                    li.innerHTML=`
                      <li class="clearfix">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                    <div class="about">
                        <div class="name">${el.email}</div>
                        <div class="status">
                          {# <i class="fa fa-circle online"></i> online #}
                          <i class="fa fa-circle online"></i> ${el.content}
                        </div>
                  </div>
                </li>
                    `;
                    li.addEventListener('click',fetchMessages.bind(null,el.conversationId))
                    listUser.append(li);     

            })
           
			      return response.data;
				}).catch((err) => {
				console.log(err);
				})
   }
     fetchUsers();



     const addMessage=(convId)=>{

       let content=message.value;
       axios.post(`/messages/${convId}`,{
         'content':content
       }).then((response) => {
         //console.log(response.data);
          //fetchMessages(convId);
           let me=document.createElement('li');
       //  let other=document.createElement('li');
         me.classList.add('clearfix');
        
           me.innerHTML=`
            
            <div class="message-data align-right">
              <span class="message-data-time" >
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              ${content}
            </div>
         
           `;
           
            message.value="";
         let mess= chat.querySelector('ul');
        mess.append(me);
        
       })
     }

     btn.addEventListener('click',()=>{
      
       let content=message.value;
       axios.post(`/messages/${convId}`,{
         'content':content
       }).then((response) => {

          
         //console.log(response.data);
          //fetchMessages(convId);
           let me=document.createElement('li');
       //  let other=document.createElement('li');
         me.classList.add('clearfix');
        
           me.innerHTML=`
            
            <div class="message-data align-right">
              <span class="message-data-time" >
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              ${content}
            </div>
         
           `;
           
            message.value="";
         let mess= chat.querySelector('ul');
        mess.append(me);
           
                    const hub = new URL(urlHub);
                      hub.searchParams.append('topic',`/conversations/${convId}`);
                      console.log(hub)
                      // Subscribe to updates
                      const eventSource = new EventSource(hub);
                      eventSource.onmessage = event =>  console.log(event.data) ;
       })
     });

     const updateConversation=(el)=>{
          let me=document.createElement('li');
       //  let other=document.createElement('li');
         me.classList.add('clearfix');
         if(el.mine){
           me.innerHTML=`
            
            <div class="message-data align-right">
              <span class="message-data-time" >${el.createdAt}
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              ${el.content}
            </div>
         
           `;
         }
         else{
            me.innerHTML=`
         
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">${el.createdAt}</span>
            </div>
            <div class="message my-message">
               ${el.content}
            </div>
          
            `;
         }
         if(document.querySelector(`ul[data-conversation="${el.conversation.id}"]`)){
              document.querySelector(`ul[data-conversation="${el.conversation.id}"]`).append(me);
         }
        {# let mess= chat.querySelector('ul');
        mess.append(me); #}
       //  document.querySelector(`ul[data-conversation=${el.conversation}]`);
        //  document.querySelector(`ul[data-conversation=${el.conversation.id}]`).append(me);

     }





   

  
</script>
{% endblock %}