{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.modal {
			background: #F2F5F8;
			color: #434651;

		}
		.modal h4 {
			color: #434651;
		}
		.chat-header .chat-with {
			font-weight: bold;
			font-size: 16px;

		}
		.chat-header {
			padding: 20px;
			border-bottom: 2px solid white;
			position: relative;
		}
		.icon_add_conv {
		margin-left:auto;
    cursor:pointer;
		}
		.person_add {
			width: 100%;
			text-align: center;
		}
    .search{
      display:flex;
      align-items:center;
    }
    .toggelClass{
      flex-basis:100%;
    }
     .userCard{
		 display:flex;
		 align-items:center;
	 }
	 .userCard img{
		 margin-right:.5rem;
	 }
	 .sidenav-trigger{
		 top: 65px !important;
          position: fixed;
	 }
	</style>
	 

	
 	
	
	 
		<ul class="people-list sidenav sidenav-fixed" id="people-list">
			<li class="search">
				<input type="text" placeholder="search"/>	<a class="modal-trigger " href="#modal1" id="createConv">	<i class="material-icons ">person_add</i></a>
				<i class="fa fa-search"></i>
			</li>

			<li class="person_add">
			
          </li>
			<!-- Modal Structure -->
		

			<ul class="list list_user collection"></ul>
		</ul>

		{# chat #}
		{% include "chat/chat.html.twig" %}

{% include "modal/modalUserList.html.twig" %}
	 <a href="#" data-target="people-list" class="sidenav-trigger btn-floating btn-small"><i class="material-icons">menu</i></a>
	<!-- end container -->

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/userCard.js"></script>
	<script src="/js/message.js"></script>

	<script src="js/manageChat.js"></script>
  <script>
   {# let sideIcon=document.getElementById('side');
   sideIcon.addEventListener('click',()=>{
     let peopleList=document.querySelector('.people-list');
     if(peopleList.style.display=="block")
         { 
			 peopleList.style.display="none";
			 //peopleList.classList.remove('toggelClass');
			 }
      else{
       peopleList.style.display="block";
	    //peopleList.classList.add('toggelClass');
      }   
   }) #}
  </script>
{% endblock %}
