{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.modal {
			background: #F2F5F8;
			color: #434651;

		}
		.modal h4 {
			color: #434651;
		}
		.chat-header .chat-with {
			font-weight: bold;
			font-size: 16px;

		}
		.chat-header {
			padding: 20px;
			border-bottom: 2px solid white;
			position: relative;
		}
		.icon_add_conv {
			position: absolute;
			top: 1rem;
			right: 1rem;
			cursor: pointer;
		}
		.person_add {
			width: 100%;
			text-align: center;
		}
    .search{
      display:flex;
      align-items:center;
    }
	</style>
	<div class="container clearfix">
		<div class="people-list" id="people-list">
			<div class="search">
				<input type="text" placeholder="search"/>	<a class="modal-trigger " href="#modal1" id="createConv">	<i class="material-icons ">person_add</i></a>
				<i class="fa fa-search"></i>
			</div>

			<div class="person_add">
			
</div>
			<!-- Modal Structure -->
			{% include "modal/modalUserList.html.twig" %}
			<ul class="list list_user"></ul>
		</div>

		{# chat #}
		{% include "chat/chat.html.twig" %}

	</div>
	<!-- end container -->

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/userCard.js"></script>
	<script src="/js/message.js"></script>

	<script src="js/manageChat.js"></script>
{% endblock %}
