{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
	.collection li.collection-item {
    color: #26a69a;
}
.collection {
   
    position: inherit !important;
	width: 100%;
}
.dropdown-content{
	    min-width: 100px;
}
	</style>
		<ul class="people-list sidenav sidenav-fixed " id="people-list">
		    <li >
			<ul class="collection ">
			  <li class="collection-item  userCard">
					 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" class="responsive-img circle" alt="avatar" />
					 <div class="about">
							<div class="name">{{app.user.email}}</div>
							<div class="status">
							 {{app.user.firstName}}
							</div>
                              
                       </div>
                     <a href="#!" class="card-header icon_add_conv dropdown-trigger" data-target='dropdownMy'><i class="material-icons icon_add_conv" >more_vert</i> </a>
					  
                                <ul id='dropdownMy' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#blockListModal">Add To Block List </a></li>
                                        <li><a href="#!">two</a></li>
                                    </ul>
                  
				  </li>

				 </ul> 
           </li>
			<li class="search">
				<input type="text" placeholder="search"/>	
				<a class="modal-trigger " href="#modal1" id="createConv">	
				   <i class="material-icons ">person_add</i>
				</a>
				
			</li>

			<li class="person_add">
			
          </li>
			<!-- Modal Structure -->
			<ul class="list list_user collection"></ul>
		</ul>

		{# chat #}
		{% include "chat/chat.html.twig" %}

{% include "modal/modalUserList.html.twig" %}
{% include "block_list/index.html.twig" %}
	 <a href="#" data-target="people-list" class="sidenav-trigger btn-floating btn-small"><i class="material-icons">menu</i></a>
	<!-- end container -->

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/userCard.js"></script>
	<script src="/js/message.js"></script>

	<script src="js/manageChat.js"></script>
  <script>
  
  </script>
{% endblock %}
