  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>create conversation</h4>
        <input type="search">
       <ul class="friends collection">
       </ul>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>