@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: "Lato", Arial, sans-serif;
    padding: 4rem 0;
    color: white;
    font-size: .625rem;
}

.container {
    margin: 0 auto;
    width: 75rem;
    background: #444753;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.people-list {
    width: 26rem;
    float: left;
    .search {
        padding: 2rem;
    }
    input {
        border-radius: .3rem;
        border: none;
        padding: 1.4rem;
        color: white;
        background: #6A6C75;
        width: 90%;
        font-size: 1.4rem;
    }
    .fa-search {
        position: relative;
        left: -2.5rem;
    }
    ul {
        padding: 2rem;
        height: 77rem;
        li {
            padding-bottom: 2rem;
        }
    }
    img {
        float: left;
    }
    .about {
        float: left;
        margin-top: .8rem;
    }
    .about {
        padding-left: .8rem;
    }
    .status {
        color: $gray;
    }
}

.chat {
    width: 49rem;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: #434651;
    .chat-header {
        padding: 2rem;
        border-bottom: 2px solid white;
        img {
            float: left;
        }
        .chat-about {
            float: left;
            padding-left: 1rem;
            margin-top: .6rem;
        }
        .chat-with {
            font-weight: bold;
            font-size: 1.6rem;
        }
        .chat-num-messages {
            color: $gray;
        }
        .fa-star {
            float: right;
            color: #D8DADF;
            font-size: 2rem;
            margin-top: 1.2rem;
        }
    }
    .chat-history {
        padding: 3rem 3rem 2rem;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        height: 50.75rem;
        .message-data {
            margin-bottom: 1.5rem;
        }
        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: .6rem;
        }
        .message {
            color: white;
            padding: 1.8rem 2rem;
            line-height: 2.6rem;
            font-size: 1.6rem;
            border-radius: .7rem;
            margin-bottom: 3rem;
            width: 90%;
            position: relative;
            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 1rem;
                margin-left: -1rem;
            }
        }
        .my-message {
            background: $green;
        }
        .other-message {
            background: $blue;
            &:after {
                border-bottom-color: $blue;
                left: 93%;
            }
        }
    }
    .chat-message {
        padding: 3rem;
        textarea {
            width: 100%;
            border: none;
            padding: 1rem 2rem;
            font: "Lato", Arial, sans-serif;
            margin-bottom: 1rem;
            border-radius: .5rem;
            resize: none;
        }
        .fa-file-o,
        .fa-file-image-o {
            font-size: 1.6rem;
            color: gray;
            cursor: pointer;
        }
        button {
            float: right;
            color: $blue;
            font-size: 1.6rem;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;
            &:hover {
                color: darken($blue, 7%);
            }
        }
    }
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 1rem;
}

.online {
    color: $green;
}

.offline {
    color: $orange;
}

.me {
    color: $blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}